node_modules
.DS_Store
dist
dist-ssr
*.local
count.txt
.env
.env.production
.nitro
.tanstack
.wrangler
.output
.vinxi
supabase/.temp/
todos.json

# fumadocs
/.source

# remotion
promo-video

.agents

# content-collections
.content-collections

# Intlayer
.intlayer
